.wrapper{
  box-sizing: border-box;
  width:100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
  justify-content: center;
  h2{
    width: 100%;
  }
}
app-project{
  height:auto;
  box-sizing: border-box;
  max-width:100%;
}
@media screen and (max-width: 360px){
  .wrapper{
    padding:0px;
  }
  h2{
    padding-left:20px;
  }
}
