<div class="container boundary">
  <ng-container *ngFor="let node of nodes; let i=index">
    <img *ngIf="node.src" [class]="'item-'+ node.id + ' icon'" [src]="node.src" [alt]="node.name" cdkDragBoundary=".boundary" cdkDrag>
    <ng-template #text>

    </ng-template>
  </ng-container>
  <div class="sub-1">
    <ng-container *ngFor="let node of nodes; let i=index">
      <div *ngIf="!node.src" [class]="'item-'+ node.id" cdkDragBoundary=".boundary" cdkDrag>{{node.name}}</div>
    </ng-container>
  </div>

</div>
<canvas id="canvas"></canvas>

