<section class="wrapper">
  <div class="photo" [@fadeIn]="loaded">
    <img class="photo-img" src="assets/photo1.jpg" [ngClass]="{'flipped': flipped, 'scaled': !flipped}" alt="photo" (click)="flipImage()">
    <app-find-me></app-find-me>
  </div>
  <div class="text-container" [@fadeIn]="loaded" [@delayFadeIn]="loaded" HighlightText>
    <app-follower></app-follower>
    <div class="text">
      <h2>Hi, my name is Anastasiia</h2>
      <p >
        Welcome to my personal website. I am a fullstack developer and here I'd like to share my current projects as well as my hobbies.
      </p>
    </div>
  </div>

</section>
