<section class="wrapper">
  <div class="photo" [@fadeIn]="loaded">
    <img class="photo-img" src="assets/photo1.jpg" [ngClass]="{'flipped': flipped, 'scaled': !flipped}" alt="photo" (click)="flipImage()">
  </div>
  <div class="text-container" [@fadeIn]="loaded" [@delayFadeIn]="loaded" HighlightText>
    <app-follower></app-follower>
    <div class="text">
      <h2>Hi, my name is Ana</h2>
      <p >
        Welcome to my personal website. I am a fullstack developer and here I want to share with you my current projects as well as my little hobbies.
      </p>
      <p>You are ready? Let's go!</p>
    </div>
  </div>

</section>
