.card {
  max-width: 400px;
  height:100%;
  box-sizing:border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
mat-card{
  min-height:600px;
}
mat-card-header{
  min-height: 70px;
  word-break: break-word;
  hyphens: auto;
}
[mat-card-image]{
  height: 250px;
  margin-bottom: 20px;
}
p {
  text-indent: 0em;
  font-weight: 0.9em;
  color:grey;
}
img.mat-mdc-card-avatar{
  width: 65px;
  height: 60px;
}
mat-card{
  border: 1px solid lightgrey;
}

mat-card-header{
  transition: transform .3s ease-in-out;
}
mat-card-header:hover{
  transform: scale(1.05);
  cursor:pointer;
}
p {
  word-break: break-word;
  hyphens: auto;
}


.avatar{
  width: 50px;
  border-radius: 50%;
  float:left;
}
@media screen and (max-width: 405px){
  .card{
    width:100%;
  }
  .mat-mdc-card-content{
    padding: 0px;
  }
}
@media screen and (max-width: 325px){
  [mat-card-image]{
    height: 175px;
  }
  img.mat-mdc-card-avatar{
    display:none;
  }
  mat-card{
    min-height:525px;
  }
  .mdc-button{
    font-size: 0.8em;
  }
}


