<mat-card class="card" appearance="outlined" >
  <mat-card-header>
    <img *ngIf="project?.avatar" mat-card-avatar [src]="project?.avatar"
      alt="book-logo">
    <mat-card-title (click)="openTab(project?.links?.frontEnd)">{{project?.title}}</mat-card-title>
    <mat-card-subtitle (click)="openTab(project?.links?.frontEnd)">{{project?.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="project?.picture" [alt]="project?.title">
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState1.set(true)" (closed)="panelOpenState1.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> Description </mat-panel-title>
          <mat-panel-description>  </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{project?.description}}</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState2.set(true)" (closed)="panelOpenState2.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> Supported languages </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p><span *ngFor="let l of project?.languages">{{l }} </span></p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState3.set(true)" (closed)="panelOpenState3.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> Techologies </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p><span *ngFor="let t of project?.techologies">{{t }} </span></p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState4.set(true)" (closed)="panelOpenState4.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> New </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p> {{project?.new}} </p>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="project?.links?.gitF || project?.links?.gitB" (opened)="panelOpenState5.set(true)" (closed)="panelOpenState4.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> Deployment </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-button *ngIf="project?.links?.gitF"
        (click)="openTab(project?.links?.gitF)">Frontend GitHub</button>
      <button mat-button *ngIf="project?.links?.gitB"
        (click)="openTab(project?.links?.gitB)">Backend GitHub</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
